html, body {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    /* grid-template-columns: repeat(1, 1fr); */
    gap: 10px;
}

.img-wrapper {
    flex: 0 0 200px;
    background-color: rgb(235, 233, 233);
}

.img-wrapper:nth-child(3) {
    grid-column: span 2;
    grid-row: span 2;
}

#targetImg {
    /* visibility: hidden; */
    background-color: red;
}