* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    width: 100%;
    height: 100%; 
}

nav {
    width: 100%;
    height: 100%;
    background-color: rgb(100, 100, 100);
    color: white;
    position: relative;
    z-index: -1;
}

nav ul {
    position: absolute;
    bottom: 10px;
}

li {
    list-style: none;
}

.menu-btn {
    padding: 15px 25px 23px 15px;
    border-bottom-right-radius: 100%;
    z-index: 1;
    background-color: crimson;
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    border: none;
    cursor: pointer;
    transition: transform 1s;
    transform-origin: top left;
}

.close-btn {
    padding: 15px 20px 25px 25px;
    border-bottom-left-radius: 100%;
    z-index: 1;
    background-color: crimson;
    color: white;
    position: absolute;
    top: 0;
    left: -55px;
    border: none;
    cursor: pointer;
    transition: transform 1s;
    transform-origin: top right;
}

.page {
    width: 100%;
    height: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform-origin: top left;
    transition: transform 1s;
}

header {
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 26px;
}

.content {
    width: 800px;
    margin: 0 auto;
    text-align: center;
}

img {
    width: 350px;
    height: 350px;
    margin: 30px;
}

.active {
    transform: rotate(-10deg);
}

.rotate {
    transform: rotate(-90deg);
}