header {
    background-color: whitesmoke;
    border-bottom: 1px solid lightgrey;
    border-radius: 2px;
    padding: 10px;
}

button {
    float: right;
    background-color: transparent !important;
    border: none !important;
    font-size: 18px;
}