* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.accordion {
    width: 100px;
}

.collapsible {
    border: 1px solid grey;
    border-radius: 5px;
}

.collapsible-header {
    background-color: lightgray;
}

.collapsible-content {
    /* width: 100px; */
    height: 0;
    opacity: 0;
}

.open .collapsible-content {
    animation: animateOpen 1s ease-in;
    /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

@keyframes animateOpen {
    0% {
        height: 0;
        /* opacity: 0; */
    }
    100% {
        height: 200px;
        /* opacity: 1; */
    }
}

/* .open .collapsible-content {
    height: auto;
    opacity: 1;
} */

/* .collapsible-header:hover .collapsible-content {
    height: auto;
    display: block;
}

.collapsible-header:hover {

} */