* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.accordion {
    width: 400px;
}

.accordion__collapsible {
    border: 1px solid grey;
    border-radius: 5px;
}

.collapsible__header {
    background-color: lightgray;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    cursor: pointer;
}

.header__openedBtn {
    display: none;
}

.header__closedBtn {
    display: block;
}

.collapsible__content {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 1s;
}

.collapsible--open .header__openedBtn {
    display: block;
}

.collapsible--open .header__closedBtn {
    display: none;
}

.collapsible--open .collapsible__content {
    height: 100px;
    opacity: 1;
}