* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background-color: rgb(247, 247, 247);
}

.container::before {
    position: absolute;
    top: 2%;
    left: 50%;
    content: '';
    width: 10px;
    height: 95%;
    background-color: rgb(231, 230, 230);
    border-radius: 5px;
}

.indicators > * {
    position: absolute;
    top: 10%;
    /* Including bar width */
    left: calc(50% + 5px);
    padding: 10px;
    transform: translateX(-50%);
    background-color: gray;
    border-radius: 50%;
}

.contents>* {
    position: absolute;
    top: 10%;
    width: 200px;
}

.contents>*:nth-child(even) {
    left: 60%;
}

.contents>*:nth-child(odd) {
    right: 60%;
}